# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# My ignore rules
# =========================
*/
/*.mat
*.log
*.asv
*.zip
!SCM/
!GMM/
!common/
!data/
!data/SantaBarbara/
!REG/
!REG/optimization/
!REG/reg_fft/
!REG/transform/
!Fusion/
!Fusion/Quality_Indices/
!GMM_SantaBarbara/
!GMM_SantaBarbara/competing_methods/
!GMM_SantaBarbara/competing_methods/AAM/
!GMM_SantaBarbara/competing_methods/BCM/
!GMM_SantaBarbara/competing_methods/unmixP_NCM/
!figures/


result*.mat
